h1{
	font-size: 50px; 
	text-align: center;
	color: #293f50;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

h2{
	text-align: center;
	color: #293f50;
	font-family: "Trebuchet MS", Helvetica, sans-serif;  
	font-style: italic; 
	font-size: 25px;
}

p{
	color: #293f50;
	float: right;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
	background: white;
  	color: white;
 }

ul {
 	float: left;
 	list-style-type: none;
 }


li {
	color: #293f50; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;  
}


img{
	float: left;
	display: inline-block;
	border-radius: 5%;  
	width: 600px; 
	padding: 5%; 
}

a {
	display: block;
    color: #293f50;
    text-decoration: none;
}

hr {
    display: block;
    float: middle;
    height: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    color: #293f50;
    margin: 1em 0;
    padding: 0;
}


#nav_bar {
	font-size: 25px;
  	list-style-type: none;
  	margin: 10px;
  	padding: 10px;
  	width: 50px;
  	background-color: white;
  	height: 200px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#about_me {
	float: left;
	width: 250px;
}

.container > * {
	display: inline-block;
}